section {
    &.enterprise {
      width:100%;
      padding:rem-calc(40) 0;
  
      div {
        &.featuresLine {
          @include flexbox();
          @include align-items(center);
          @include justify-content(space-between);
          padding-bottom:rem-calc(100);
          &:not(:last-child) {
            margin-bottom:rem-calc(100);
            border-bottom:solid 1px rgba(26, 51, 82, 0.15);
          }

          

          div {
            &.title {
              width:40%;
              @include flexbox();
              @include align-items(flex-start);
              @include justify-content(flex-start);
              @include flex-direction(column);
              svg {
                margin-bottom:rem-calc(30);
              }
              @include font-montserrat(
                    $color:#ff8f34,
                    $size: rem-calc(26),
                    $family: 'Montserrat-Bold',
                    $lh:normal
                  );

                  
            }
            &.content {
              width:60%;
              ul {
                list-style: none;
                li {
                  padding:11px 0 0 15px;
                  position:relative;
                  @include font-montserrat(
                    $color:#1a3352,
                    $size: rem-calc(16),
                    $family: 'Montserrat-Medium',
                    $lh:22px
                  );
                  &:before {
                    content: ""; 
                    width:6px;
                    height:6px;
                    border-radius:50%;
                    background-color:#ccd3db;
                    display: inline-block;
                    position:absolute;
                    left:0;
                    top:16px;
                  }
                }
              }
            }
          }

          @include respond-to('medium') {
            @include justify-content(center);
            @include flex-direction(column);
            padding-bottom:rem-calc(30);
            &:not(:last-child) {
                margin-bottom:rem-calc(30);
            }
            div {
                &.title {
                  width:100%;
                  @include align-items(center);
                  @include justify-content(center);
                  text-align: center;
                }
                &.content {
                  width:100%;
                  ul {
                    list-style: none;
                    li {
                      text-align: center;
                      &:before {
                        display:none;
                      }
                    }
                  }
                }
              }
          }
          @include respond-to('small') {
            @include justify-content(center);
            @include flex-direction(column);
            padding-bottom:rem-calc(30);
            &:not(:last-child) {
                margin-bottom:rem-calc(30);
            }
            div {
                &.title {
                  width:100%;
                  @include align-items(center);
                  @include justify-content(center);
                  text-align: center;
                }
                &.content {
                  width:100%;
                  ul {
                    list-style: none;
                    li {
                      text-align: center;
                      &:before {
                        display:none;
                      }
                    }
                  }
                }
              }
          }
        }
      }
    }
  }